@import "variables";
@import "mixins";

html, body {
  margin: 0 auto;
  padding: 0 auto;
	font-family: $main-font;
	font-weight: $regular;
	font-size: 13px;
	font-smooth: always;
	@include font-smoothing(on);
}
